<template>
  <div>
    <header>
      <h2>{{state}}</h2>
      <img style="cursor: pointer" alt="SteamLogin" @click="logWithSteam" src="https://community.akamai.steamstatic.com/public/images/signinthroughsteam/sits_02.png"/>
    </header>
    <img alt="Vue logo" src="../../../src/assets/logo.png" />

    <div style="display: block">
      <el-input v-model="findSearchBox" size="mini" placeholder="Buscar jogador" style="max-width: 20%;"></el-input>
      <el-button @click="findPlayers">Buscar Jogador</el-button>
      <el-button @click="findPlayers">Limpar Busca</el-button>
    </div>

    <div style="display: block; margin-top: 15px">
      <el-button @click="findPlayers">Buscar!</el-button>
    </div>
    <div class="playersTable">
      <el-table class="table" :data="tableData.filter(data => !search || data.playerNames[0].toLowerCase().includes(search.toLowerCase()))">
        <el-table-column
            align="right">
          <template #header>
            <el-input
                v-model="search"
                size="mini"
                placeholder="Buscar nesta página"/>
          </template>
        </el-table-column>
        <el-table-column
            label="Partidas Jogadas">
          <template #default="scope">
            <i class="el-icon-time"></i>
            <span style="margin-left: 10px">{{ scope.row.matches.length }}</span>
          </template>
        </el-table-column>
        <el-table-column type="expand">
          <template #default="scope">
            <div>
              <span><i>Todos os nomes</i></span>
              <p v-for="(name,index) in scope.row.playerNames" :key="index"><b>{{ name }}</b></p>
            </div>
          </template>
        </el-table-column>
        <el-table-column
            label="Jogador">
          <template #default="scope">
            <el-popover effect="light" trigger="hover" placement="top">
              <template #default>
                <span><i>Nicknames</i></span>
                <p v-for="(name,index) in scope.row.playerNames" :key="index"><b>{{ name }}</b></p>
              </template>
              <template #reference>
                <div class="name-wrapper">
                  <el-tag size="medium">{{ scope.row.playerNames[0] }}</el-tag>
                </div>
              </template>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column
            label="Steam ID">
          <template #default="scope">
            <div class="name-wrapper">
              <el-tag size="medium">{{ scope.row.steamID }}</el-tag>
            </div>
          </template>
        </el-table-column>
        <el-table-column
            label="Ações">
          <template #default="scope">
            <el-button
                size="mini"
                @click="detailProfile(scope.$index, scope.row)">Detalhar</el-button>
            <el-button
                size="mini"
                @click="openProfile(scope.row.profileLink)">Perfil</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
          background
          layout="prev, pager, next"
          :total="1000">
      </el-pagination>
    </div>
  </div>
</template>

<script>
import SteamID from 'steamid'
import { ref, inject } from 'vue'
import router from '@/router'
import useRequest from '@/utils/useRequest'

export default {
  name: 'App',
  setup () {
    const configuration = inject('configuration')
    const store = inject('store')
    const search = ref('')
    const findSearchBox = ref('')

    /**
     * Feature de detalhar jogador
     **/
    const steamID = ref('')
    const playerDetails = ref(null)
    const detailProfile = (index, details) => {
      playerDetails.value = JSON.stringify(details)
      steamID.value = new SteamID(details.steamID).getSteamID64()
      router.push({ name: 'player', params: { steamID: steamID.value, playerDetails: playerDetails.value } })
    }

    /**
     * Feature de logar com a steam
     **/
    const logWithSteam = () => {
      window.location.href = `${configuration.data.baseURL}/authenticate`
    }

    /**
     * Feature de abrir perfil do jogador
     **/
    const openProfile = (profileLink) => {
      window.open(profileLink)
    }

    /**
     * Feature de buscar jogador
     **/
    const tableData = ref([])
    const findPlayers = async () => {
      const result = await useRequest.postRequest(`${configuration.data.baseURL}/findLog`, 'findLog', {}, {
        headers: {
          'Content-Type': 'application/json'
        }
      })
      result.data.retrievedLog.forEach(playerLog => {
        playerLog.profileLink = `https://steamcommunity.com/profiles/${new SteamID(playerLog.steamID).getSteamID64()}`
      })
      tableData.value = result.data.retrievedLog
    }

    return {
      tableData,
      search,
      findSearchBox,
      playerDetails,
      steamID,
      detailProfile,
      openProfile,
      logWithSteam,
      findPlayers,
      state: store.state
    }
  }
}
</script>

<style>
.table {
  height: 600px;
  overflow: auto;
}
.playersTable {
  width: 70%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
