<template>
  <div v-if="currentSelectedPlayerDetails">
    <h1>Perfil do jogador: "{{ currentSelectedPlayerDetails.playerNames[0] }}"</h1>
    <MostPlayedClass
      :playerDetails="currentSelectedPlayerDetails"
      :steamID="steamID"
    ></MostPlayedClass>
    <FavoriteWeapon
      :playerDetails="currentSelectedPlayerDetails"
      :steamID="steamID"
    ></FavoriteWeapon>
  </div>
</template>

<script>

import axios from 'axios'
import SteamID from 'steamid'
import { inject, ref, onMounted } from 'vue'
import MostPlayedClass from '@/components/Charts/MostPlayedClass.vue'
import FavoriteWeapon from '@/components/Charts/FavoriteWeapon.vue'

export default {
  name: 'PlayerDetails',
  inject: ['configuration', 'tf2Classes'],
  props: ['steamID', 'playerDetails'],
  components: {
    MostPlayedClass,
    FavoriteWeapon
  },
  setup (props) {
    // SETAR DATA new Date(new Date(0).setUTCSeconds(1593138786))
    const configuration = inject('configuration')
    /**
     * Garante que variável currentSelectedPlayerDetails está sendo alimentada, caso não venha pelas props com nome de
     * "playerDetails" pelo router, busca o valor fazendo uma nova requisição, isso garante que o usuário pode entrar diretamente
     * nesta rota sem acessar o dashboard.
     */
    const currentSelectedPlayerDetails = ref(null)
    onMounted(async () => {
      if (props.playerDetails) {
        currentSelectedPlayerDetails.value = JSON.parse(props.playerDetails)
      } else {
        const result = await axios.post(`${configuration.data.baseURL}/findLog`, {
          steamID: new SteamID(props.steamID).getSteam3RenderedID()
        })
        if (result.data && Array.isArray(result.data.retrievedLog) && result.data.retrievedLog.length) {
          currentSelectedPlayerDetails.value = result.data.retrievedLog[0]
        }
      }
    })
    return {
      currentSelectedPlayerDetails
    }
  }
}
</script>

<style>
</style>
