<template>
  <h3 style="position: relative; right: 42%" v-if="playerDetails.playerNames[0]">Armas</h3>

  <div style="display: flex">
    <div class="favoriteWeapon">
      <vue3-chart-js
          style="cursor: pointer"
          v-if="canvasData"
          ref="favoriteWeaponChart"
          id="polarArea"
          type="polarArea"
          :data="canvasData.data"
          :options="canvasData.options"
      ></vue3-chart-js>
    </div>

    <div class="weaponDetails">
      <WeaponDetails
        v-if="weaponDetails.weaponName"
        :weaponDetails="weaponDetails">
      </WeaponDetails>
    </div>
  </div>
</template>

<script>

import Vue3ChartJs from '@j-t-mcc/vue3-chartjs'
import { onMounted, ref, reactive, inject, nextTick } from 'vue'
import useChart from '@/utils/useChart'
import WeaponDetails from '@/components/Charts/WeaponDetails.vue'

export default {
  name: 'MostPlayedClass',
  components: {
    Vue3ChartJs,
    WeaponDetails
  },
  props: ['playerDetails', 'steamID'],
  emits: [],
  setup (props) {
    const tf2Weapons = inject('tf2Weapons')
    const weaponDetails = reactive({})

    /**
     * Feature de criação do gráfico mostrando as armas usadas
     * Inicia variáveis reativas iniciais para construção do gráfico
     * Em seguida alimenta variáveis, adicionando as respectivas labels do gráfico em seguida do seu valor
     * Chama composition function "onClickItem" responsável por identificar o texto clicado, mudando a prop "weaponDetails" que é a responsável
     * por renderizar o componente de arma especifica "WeaponDetails"
     */
    const chartData = ref({})
    const favoriteWeaponChart = ref(null)
    const canvasData = reactive({
      options: {
        onClick: (e) => {
          const currentItem = useChart.onClickItem(e, canvasData.data.labels)
          const weaponName = Object.entries(tf2Weapons).find(item => item[1] === currentItem)
          weaponDetails.value = (Array.isArray(weaponName) && weaponName.length >= 2) ? chartData.value[Object.entries(tf2Weapons).find(item => item[1] === currentItem)[0]] : chartData.value[currentItem]
          weaponDetails.weaponName = currentItem
        },
        plugins: {
          /**
           * Muda comportamento padrão do popup
           */
          tooltip: {
            enabled: false,
            external: (context) => {
              // Elemento do Tooltip
              let tooltipEl = document.getElementById('chartjs-tooltip')
              // Cria o elemento na primeira renderização
              if (!tooltipEl) {
                tooltipEl = document.createElement('div')
                tooltipEl.id = 'chartjs-tooltip'
                tooltipEl.innerHTML = '<table></table>'
                document.body.appendChild(tooltipEl)
              }
              // Esconde caso não haja tooltip
              const tooltipModel = context.tooltip
              if (tooltipModel.opacity === 0) {
                tooltipEl.style.opacity = 0
                return
              }
              // Define posição do caret
              tooltipEl.classList.remove('above', 'below', 'no-transform')
              if (tooltipModel.yAlign) {
                tooltipEl.classList.add(tooltipModel.yAlign)
              } else {
                tooltipEl.classList.add('no-transform')
              }
              function getBody (bodyItem) {
                return bodyItem.lines
              }
              // Seta o texto do tooltip
              if (tooltipModel.body) {
                const titleLines = tooltipModel.title || []
                const bodyLines = tooltipModel.body.map(getBody)
                let innerHtml = '<thead>'
                titleLines.forEach(function (title) {
                  innerHtml += '<tr><th>' + title + '</th></tr>'
                })
                innerHtml += '</thead><tbody style="font-size: 15px; font-weight: bold">'
                let className
                bodyLines.forEach(function (body, i) {
                  const colors = tooltipModel.labelColors[i]
                  let style = 'background:' + colors.backgroundColor
                  style += '; border-color:' + colors.borderColor
                  style += '; border-width: 2px'
                  const span = '<span style="' + style + '"></span>'
                  innerHtml += '<tr><td>' + span + body + '</td></tr>'
                  className = body[0].split(':')[0].toUpperCase()
                })
                innerHtml += '</tbody>'
                const tableRoot = tooltipEl.querySelector('table')
                tableRoot.innerHTML = innerHtml
                const el = document.createElement('img')

                // Adiciona imagem correspondente ao texto que o cursor do mouse está por cima do gráfico
                import(`../../../src/assets/weapons/${className}.png`).then(imagePath =>{
                  nextTick(() => {
                    el.setAttribute('src', imagePath.default)
                    el.style.width = '15%'
                    tableRoot.appendChild(el)
                    tableRoot.style.cursor = 'pointer'
                  })
                })
              }
              const position = context.chart.canvas.getBoundingClientRect()
              tooltipEl.style.opacity = 1
              tooltipEl.style.position = 'absolute'
              // Imagem fixa, não escolhido.
              /* tooltipEl.style.left = position.left + 400 + 'px'
              tooltipEl.style.top = position.top + 100 + 'px' */
              tooltipEl.style.left = position.left + window.pageXOffset + tooltipModel.caretX + 'px'
              tooltipEl.style.top = position.top + window.pageYOffset + tooltipModel.caretY + 'px'
              tooltipEl.style.padding = tooltipModel.padding + 'px ' + tooltipModel.padding + 'px'
              tooltipEl.style.pointerEvents = 'none'
            }
          }
        }
      },
      data: {
        labels: [],
        datasets: [
          {
            backgroundColor: [
              '#41B883',
              '#E46651',
              '#00D8FF',
              '#DD1B16'
            ],
            data: []
          }
        ]
      }
    })

    onMounted(() => {
      for (const match of props.playerDetails.matches) {
        Object.entries(match)[0][1].stats.class_stats.forEach(classStats => {
          Object.entries(classStats.weapon).forEach(gun => {
            if (gun[0] !== 'world') {
              if (!chartData.value[gun[0]]) {
                chartData.value[gun[0]] = {
                  qtd: 1,
                  ...gun[1],
                  totalDamage: gun[1].dmg,
                  totalKills: gun[1].kills
                }
              } else if (chartData.value[gun[0]]) {
                chartData.value[gun[0]].qtd++
                chartData.value[gun[0]].totalDamage += chartData.value[gun[0]].dmg
                chartData.value[gun[0]].totalKills += chartData.value[gun[0]].kills
              }
            }
          })
        })
      }
      for (const playerData of Object.entries(chartData.value)) {
        const weaponName = tf2Weapons[playerData[0]] ? tf2Weapons[playerData[0]] : playerData[0]
        canvasData.data.labels.push(weaponName)
        canvasData.data.datasets[0].data.push(playerData[1].qtd)
      }
      favoriteWeaponChart.value.update()
    })

    return {
      canvasData,
      favoriteWeaponChart,
      weaponDetails
    }
  }
}
</script>

<style>
.weaponDetails {
  width: 25%;
}
.favoriteWeapon {
  display: flex;
  width: 15%;
}
</style>
