<template>
  <div>
    <div class="mostPlayedClass">
      <h3 style="text-align: center" v-if="playerDetails.playerNames[0]">Classes</h3>
      <vue3-chart-js
          v-if="canvasData"
          class="doughnutClassChart"
          ref="classesChart"
          id="doughnut"
          type="pie"
          :data="canvasData.data"
          :options="canvasData.options"
      ></vue3-chart-js>

    </div>
  </div>
</template>

<script>

import Vue3ChartJs from '@j-t-mcc/vue3-chartjs'
import { onMounted, ref, reactive, inject, nextTick } from 'vue'
import useChart from '@/utils/useChart'

export default {
  name: 'MostPlayedClass',
  components: {
    Vue3ChartJs
  },
  props: ['playerDetails', 'steamID'],
  emits: [],
  setup (props) {
    const tf2Classes = inject('tf2Classes')

    /**
     * Feature de criação do gráfico
     * Inicia variáveis reativas "canvasData" e "classesChart" iniciais para construção do gráfico
     * Em seguida alimenta variáveis, adicionando as respectivas labels do gráfico em seguida do seu valor
     * Chama composition function que identifica o texto clicado.
     */
    const classesChart = ref(null)
    const canvasData = reactive({
      options: {
        onClick: (e) => {
          const currentItem = useChart.onClickItem(e, canvasData.data.labels)
          console.log(currentItem)
        },
        plugins: {
          /**
           * Muda comportamento padrão do popup
           */
          tooltip: {
            enabled: false,
            external: (context) => {
              // Elemento do Tooltip
              let tooltipEl = document.getElementById('chartjs-tooltip')
              // Cria o elemento na primeira renderização
              if (!tooltipEl) {
                tooltipEl = document.createElement('div')
                tooltipEl.id = 'chartjs-tooltip'
                tooltipEl.innerHTML = '<table></table>'
                document.body.appendChild(tooltipEl)
              }
              // Esconde caso não haja tooltip
              const tooltipModel = context.tooltip
              if (tooltipModel.opacity === 0) {
                tooltipEl.style.opacity = 0
                return
              }
              // Define posição do caret
              tooltipEl.classList.remove('above', 'below', 'no-transform')
              if (tooltipModel.yAlign) {
                tooltipEl.classList.add(tooltipModel.yAlign)
              } else {
                tooltipEl.classList.add('no-transform')
              }
              function getBody (bodyItem) {
                return bodyItem.lines
              }
              // Seta o texto do tooltip
              if (tooltipModel.body) {
                const titleLines = tooltipModel.title || []
                const bodyLines = tooltipModel.body.map(getBody)
                let innerHtml = '<thead>'
                titleLines.forEach(function (title) {
                  innerHtml += '<tr><th>' + title + '</th></tr>'
                })
                innerHtml += '</thead><tbody style="font-size: 15px; font-weight: bold">'
                let className
                bodyLines.forEach(function (body, i) {
                  const colors = tooltipModel.labelColors[i]
                  let style = 'background:' + colors.backgroundColor
                  style += '; border-color:' + colors.borderColor
                  style += '; border-width: 2px'
                  const span = '<span style="' + style + '"></span>'
                  innerHtml += '<tr><td>' + span + body + '</td></tr>'
                  className = body[0].split(':')[0].toUpperCase()
                })
                innerHtml += '</tbody>'
                const tableRoot = tooltipEl.querySelector('table')
                tableRoot.innerHTML = innerHtml
                const el = document.createElement('img')
                // Adiciona imagem correspondente ao texto que o cursor do mouse está por cima do gráfico

                import(`../../../src/assets/portraits/${className}.png`).then(imagePath =>{
                  nextTick(() => {
                    el.setAttribute('src', imagePath.default)
                    el.style.borderRadius = '100%'
                    el.style.width = '25%'
                    tableRoot.appendChild(el)
                    tableRoot.style.cursor = 'pointer'
                  })
                })

              }
              const position = context.chart.canvas.getBoundingClientRect()
              tooltipEl.style.opacity = 1
              tooltipEl.style.position = 'absolute'
              // Imagem fixa, não escolhido.
              /* tooltipEl.style.left = position.left + 400 + 'px'
              tooltipEl.style.top = position.top + 100 + 'px' */
              tooltipEl.style.left = position.left + window.pageXOffset + tooltipModel.caretX + 'px'
              tooltipEl.style.top = position.top + window.pageYOffset + tooltipModel.caretY + 'px'
              tooltipEl.style.padding = tooltipModel.padding + 'px ' + tooltipModel.padding + 'px'
              tooltipEl.style.pointerEvents = 'none'
            }
          }
        }
      },
      data: {
        labels: [],
        datasets: [
          {
            backgroundColor: [
              '#41B883',
              '#E46651',
              '#00D8FF',
              '#DD1B16'
            ],
            data: []
          }
        ]
      }
    })

    onMounted(() => {
      const chartData = {}
      for (const tf2Class of Object.entries(tf2Classes)) {
        chartData[tf2Class[0]] = 0
      }
      for (const match of props.playerDetails.matches) {
        Object.entries(match)[0][1].stats.class_stats.forEach(classStats => {
          chartData[classStats.type]++
        })
      }
      for (const playerData of Object.entries(chartData)) {
        canvasData.data.labels.push(tf2Classes[playerData[0]])
        canvasData.data.datasets[0].data.push(playerData[1])
      }
      classesChart.value.update()
    })

    return {
      canvasData,
      classesChart
    }
  }
}
</script>

<style>
.mostPlayedClass {
  width: 15%;
}
.doughnutClassChart {
  cursor: pointer;
}
</style>
