<template>
  <vue3-chart-js
      v-if="canvasData"
      class="doughnutClassChart"
      ref="classesChart"
      id="bar"
      type="bar"
      :data="canvasData.data"
      :options="canvasData.options"
  ></vue3-chart-js>
</template>

<script>

import Vue3ChartJs from '@j-t-mcc/vue3-chartjs'
import { ref, reactive, watch, onMounted, inject } from 'vue'
import useChart from '@/utils/useChart'

export default {
  name: 'MostPlayedClass',
  components: {
    Vue3ChartJs
  },
  props: ['weaponDetails'],
  emits: [],
  setup (props) {
    const weaponStatistics = inject('weaponStatistics')

    /**
     *  Feature de criar o gráfico de uma arma, incia variáveis iniciais e assiste prop weaponDetails, que é a responsável por
     *  renderizar componente de gráfico mais detalhado de arma selecionada no outro componente "FavoriteWeapon"
     */
    const classesChart = ref(null)
    const canvasData = reactive({
      options: {
        onClick: (e) => {
          const currentItem = useChart.onClickItem(e, canvasData.data.labels)
          console.log(currentItem)
        }
      },
      data: {
        labels: [],
        datasets: [
          {
            label: null,
            backgroundColor: [
              '#41B883',
              '#E46651',
              '#00D8FF',
              '#DD1B16'
            ],
            data: []
          }
        ]
      }
    })

    onMounted(() => {
      /* Para primeira inicialização, quando o componente ainda não foi renderizado. */
      canvasData.data.datasets[0].label = props.weaponDetails.weaponName
      for (const playerData of Object.entries(props.weaponDetails.value)) {
        const statisticName = weaponStatistics[playerData[0]] ? weaponStatistics[playerData[0]] : playerData[0]
        if (!['qtd', 'kills', 'dmg'].includes(statisticName)) {
          canvasData.data.labels.push(statisticName)
          canvasData.data.datasets[0].data.push(playerData[1])
        }
      }
      classesChart.value.update()

      /* Quando o componente ja estiver sido renderizado */
      watch(props.weaponDetails, (value) => {
        if (props.weaponDetails.value) {
          canvasData.data.labels = []
          canvasData.data.datasets[0].data = []
          canvasData.data.datasets[0].label = props.weaponDetails.weaponName
          for (const playerData of Object.entries(props.weaponDetails.value)) {
            const statisticName = weaponStatistics[playerData[0]] ? weaponStatistics[playerData[0]] : playerData[0]
            if (!['qtd', 'kills', 'dmg'].includes(statisticName)) {
              canvasData.data.labels.push(statisticName)
              canvasData.data.datasets[0].data.push(playerData[1])
            }
          }
          classesChart.value.update()
        }
      })
    })
    return {
      canvasData,
      classesChart
    }
  }
}
</script>

<style>
.doughnutClassChart {
  cursor: pointer;
}
</style>
