<template>
  <p>
    <a>Um teste!!!!!!!!!!!!!!!!!</a> |
  </p>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
    }
  },
  mounted () {
    console.log('abc')
  }
}
</script>

<style scoped>
a {
  color: #42b983;
}
</style>
