<template>
  <router-view></router-view>
</template>

<script>
</script>

<style>
.table {
  height: 600px;
  overflow: auto;
}
.playersTable {
  width: 70%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
